._404{
    text-align: center;
    display: flex;
    flex-direction: column;
}

._404-text{
    font-size: 10em;
    font-weight: 100;
    margin: 0px;
    margin-top: 2rem;
    line-height: 1em;
}

._404-page-missing-text{
    font-size: 2.5em;
}

._404-go-back, ._404-go-back:visited{
    background-color: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.05rem;

    width: max-content;
    margin: auto;
    padding: 1em;
    border-radius: 1.6em;
    margin-top: 2rem;
    border: 1px solid black;

}

._404-go-back:hover{
    text-decoration: none;
    background: none;
    color: white;
    border: 1px solid white;
}