.club-intro{
    width: 80%;
    margin-left: 10%;
}

.club-intro h1{
    font-size: 3.2rem;
    font-weight: 300;
    letter-spacing: 0.01em;
    margin: 0;
    /* text-align: center; */
}

.club-intro p{
    font-size: 1.2rem;
    margin: 1em 0;
}

.faq-container{
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.faq-heading{
    font-size: 3.2rem;
    font-weight: 300;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0;
}

.faq-subheading{
    align-self: center;
    max-width: 70%;
    margin-bottom: 4em;
}

details{
    margin: 0.3em 1.5em;
}

summary{
    font-size: 1.2rem;
    background-color: #afadad;
    color: black;
    padding: 0.5em 1.5em;
    cursor: pointer;
    list-style: none;
}

.faq-arrow{
    float: right;
    align-self: center;
    width: 0.7em;
    margin-top: 0.5em;
}

.faq-answer{
    display: none;
    padding: 0.5em 1em;
}

@media screen and (max-width: 696px) {
    .club-intro p{
        font-size: 1rem;
        text-align: left;
    }
    
    summary{
        font-size: 1rem;
        padding-inline: 0.5em;
    }

    .faq-arrow{
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
}

canvas{
    display: inline-block;
}

canvas#dst:hover {
	cursor: none;
}

span, a{
  color: #dedede;
  padding: 5px 10px;
}