.cards-container {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: block;
  position: relative;
  border-radius: 50px;
  background: #dde1e7;
  padding: 10px;
  margin: 2vw;
  text-align: center;
  height: 15vw;
  width: 15vw;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 10px #bcbfc4, -5px -5px 10px #feffff;

  user-select: none;
}

.card:hover {
  scale: 1.05;
}

.card:active {
  scale: 1;
  box-shadow: inset 5px 5px 10px #c2c6cb, inset -5px -5px 10px #f8fcff;
}

.card img {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0.35);
}

.card:hover img {
  filter: brightness(0.35) blur(1px);
}

.card-header {
  padding: 20px;
  position: absolute;
  bottom: 0vw;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 0.8vw;
}

@media (max-width: 800px) {
    .card {
        height: 30vw;
        width: 30vw;
        border-radius: 50%;
        margin-bottom: 50px;
    }
    
    .card img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
    }
    
    .card-header {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;
        font-size: 2vw;
        height: min-content;
    }
}
