/* Navbar and Common properties for html, body */
@import url('font.css');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  color: white;

  scroll-snap-type: y proximity;

  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  z-index: 1000;
  top: 0;
}

.nowrap {
  white-space: nowrap;
}

.hidden{
  display: none;
}

/***************************** Desktop Navbar ************************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: transparent;
  color: white;
  user-select: none;
  /* border-radius: 0 0 2vw 2vw; */
}

.navbar-logo{
  height: 70px;
  padding: 2px;
}

nav a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

nav :is(a:hover, a:focus) {
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 0 1rem;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

nav ul li :is(a:hover,  a:focus) {
  color: white;
}

.active {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.5rem;
  text-decoration-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#navbar-mobile-icon {
  display: none;
}

aside{
  display: none;
  background-color: #000000af;
  position: absolute;
  right: 0;
  z-index: 9000;

  width: 100%;
  height: 100vh;
}

.mobile-nav{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.mobile-nav li{
  padding: 1em;
  text-align: right;
  font-size: 1.25em;
}

.mobile-nav li a{
  color: #e3dfdf;
  display: block;
  text-decoration: none;
}

.mobile-nav li .active{
  text-decoration: underline;
}

.mobile-nav li :is(a:hover, a:focus){
  color: rgb(253, 252, 255);
  text-decoration: none;
  font-weight: 500;
}


/* Responsiveness for mobile screen */
@media (max-width: 696px) {
  nav {
    padding: 0 1rem;
  }

  .navbar-logo{
    height: 60px;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  #navbar-mobile-icon {
    display: block;
    cursor: pointer;
  }
}