.social-media-handles-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

.footer-social-media-icon {
    height: 35px;
    width: 35px;
    fill: #76a6c9;
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.footer-social-media-icon:hover {
    height: 35px;
    width: 35px;
    fill: #ffffff;
}

.copyright-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}