.footer{
  z-index: 5;
  position: static;
}

.common-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-top: 1rem;
}

.footer-text {
  font-size: 1rem;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif, system-ui;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: #76a6c9;
}

/* Club info section of footer */
.footer-club-info-section {
  padding: 0.5rem;
  padding-top: 0.1rem;
  align-content: center;
  width: 42vw;
}

.footer-club-info-section .footer-text {
  margin-top: 0.1rem;
}

.footer-club-info-section-logo {
  height: 100px;
  width: 102px;
  margin-right: 1rem;
  float: left;
}

.footer-club-name{
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 2rem;
}

.footer-club-moto{
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #e9e4e4;
}

/* Quick nav section of footer */
.footer-quick-nav-section{
  padding: 0.5rem;
  width: 15vw;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 1.75rem;
  margin-top: 0.1rem;
  padding-left: 0.4rem;
  padding-top: 0em;
}

.footer-nav-text{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #d3cfcf;
}

.footer-nav-text:hover{
  color: #ffffff;
}

/* Reach us section of footer */
.footer-reach-us-section {
  line-height: 2rem;
  width: 28vw;
}

.footer-reach-us-section a {
  text-decoration: none;
  color: #76a6c9;
}

.footer-reach-us-section a:hover {
  text-decoration: none;
  color: #4ecfdd;
}

.footer-link-icon {
  height: 20px;
  width: 20px;
  fill: #76a6c9;
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

/* Social media icons section */
.footer-social-media-handles-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 70px;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

.footer-social-media-icon {
  height: 25px;
  width: 25px;
  fill: #76a6c9;
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.whatsapp:hover{
  fill: #25d366;
}

.linkedin:hover{
  fill: #3a97f5;
}

.instagram:hover{
  fill: #e4405f;
}

.discord:hover{
  fill: #5865f2;
}

/* Copyright line section */
.copyright-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
  font-size: 12px;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}