/* Copyright line section */
.copyright-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 0.3em;
  width: 100%;
}

footer{
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding-top: 1em;
}

.footer-text {
  font-size: 1rem;
  font-family: Roboto, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif, system-ui;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8em;
  color: #76a6c9;
}

/* Club info section of footer */
.footer-club-info-section {
  padding: 0.5em;
  padding-top: 0;
  align-content: center;
  align-content: first baseline;
  width: 42%;
}

.footer-club-info-section .footer-text {
  margin-top: 0.1em;
}

.footer-club-info-section-logo {
  height: 100px;
  width: 102px;
  margin-right: 1em;
  float: left;
}

.footer-club-name{
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.9em;
  margin-bottom: 1em;
}

.footer-club-moto{
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: #e9e4e4;
}

/* Quick nav section of footer */
.footer-quick-nav-section{
  padding: 0.5em;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 1.75rem;
  margin-top: 0.1em;
  padding-left: 0.4em;
  padding-top: 0em;
}

.footer-nav-text{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #d3cfcf;
}

.footer-nav-text:hover, .footer-nav-text:focus{
  color: #ffffff;
}

/* Reach us section of footer */
.footer-reach-us-section {
  line-height: 2rem;
  font-style: normal;
}

.footer-reach-us-section a {
  text-decoration: none;
  color: #76a6c9;
}

.footer-reach-us-section a:hover {
  text-decoration: none;
  color: #4ecfdd;
}

.footer-link-icon {
  height: 20px;
  width: 20px;
  fill: #76a6c9;
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.footer-mail-id, .footer-phone-number {
  width: fit-content;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* Social media icons section */
.footer-social-media-handles-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2.5em;
  margin-top: 1em;
  width: fit-content;
}

.footer-social-media-icon {
  height: 25px;
  width: 25px;
  fill: #76a6c9;
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.whatsapp:hover, .whatsapp:focus{
  fill: #25d366;
}

.linkedin:hover, .linkedin:focus{
  fill: #1e78d3;
}

.instagram:hover, .instagram:focus{
  fill: #e4405f;
}

.discord:hover, .discord:focus{
  fill: #5865f2;
}


/* Media queries for responsiveness (Tablet) */
@media (max-width: 1000px) {
  .footer-club-info-section{
    width: 30%
  }

  .footer-club-info-section-logo{
    align-self: center;
    float: center;
    margin-bottom: 0.7em;
  }

  .footer-club-name{
    font-size: 1.5rem;
  }
}


/* Media queries for responsiveness (Mobile) */
@media (max-width: 696px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 1em;
  }

  .footer-club-info-section{
    width: 90%;
    justify-items: center;
  }

  .footer-club-info-section-logo{
    float: none;
  }

  .footer-club-name{
    text-align: center;
    margin: 0;
  }

  .footer-club-moto{
    text-align: center;
    width: 80%;
  }

  .footer-quick-nav-section{
    text-align: center;
    justify-items: center;
  }

  .footer-heading{
    margin-bottom: 0.25em;
    padding-bottom: 0;
  }
  
  .footer-reach-us-section {
    text-align: center;
    justify-items: center;
    width: 90%;
  }

  .footer-mail-id{
    padding: 0 0.5em;
  }
}