/* For index.html file */

/* Who are we section */
.who-are-we-container{
    display: flex;
    flex-direction: row;
    background-color: #1f1e1e;
    padding-bottom: 1em;
    margin: 0;
}

.who-are-we-image{
    padding-top: 3em;
    padding-left: 2em;
    width: 40vw;
    max-height: max-content;
    float: left;
}

.who-are-we-content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;

    padding: 2em;
    padding-bottom: 0;

    overflow-wrap: break-word;
    word-break: break-word;
}

.who-are-we-heading{
    font-size: 3.5em;
    margin: 0;
    padding: 0.25em;
    padding-left: 0.1em;
    font-weight: 300;
    line-height: 1em;
}

.who-are-we-subheading{
    font-size: 1.3rem;
    margin: 0;
    margin-top: 1em;
    padding-left: 0.25em;
}

.who-are-we-content{
    margin: 0px;
    /* margin-bottom: 2em; */
    margin-top: 1em;
    padding-left: 0.3em;
    padding-right: 5%;
    font-weight: 250;
    font-size: 1.05rem;
    text-align: justify;
}

.blank-space{
    height: 1em;
    background-color: #1f1e1e;;
}


/* For What is astronautics section */
.what-is-astronautics-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    padding: 2em;
    padding-top: 0em;
    max-width: 100%;
    scroll-snap-align: start;
    justify-items: center;
    align-items: center;
    margin: 0;
}

.what-is-astronautics-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: overlap;
    justify-content: center;
    clear:both;
}

.what-is-astronautics-text-container{
    grid-area: overlap;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.what-is-astronautics-heading{
    font-size: 2.3rem;
    margin: 0px;
    padding: 0.25em;
    font-weight: 300;
}

.what-is-astronautics-subheading{
    font-size: 1.2rem;
    margin: 0px;
    margin-top: 1em;
}

.what-is-astronautics-content{
    margin: 0px;
    margin-bottom: 1em;
    font-size: 1rem;
    padding: 0em 1em;
}

.what-is-astronautics-button, .what-is-astronautics-button:visited{
    border: 1px solid white;
    border-radius: 30px;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    color: black;
    background-color: white;
    align-self: center;
    width: 10%;
    min-width: fit-content;
}


.what-is-astronautics-button:hover, .what-is-astronautics-button:focus{
    cursor: pointer;
    background: none;
    color: white;
}




/* For Latest Events and Blog section */
.latest-updates-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    margin: 0;
    margin-bottom: 3em;
    word-wrap: normal;
    width: 100%;
}

.latest-updates-subheading{
    font-weight: 300;
    margin: 0px;
    padding: 0.5em;
}

.latest-updates-heading{
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0px;
    padding-bottom: 0.5em;
    letter-spacing: 0.13rem;
}

.latest-updates-content{
    width: 50%;
    line-height: 1.5rem;
    font-weight: 350;
    color: rgb(213, 211, 211);
    margin-bottom:3em;
    
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.latest-updates-posts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    max-width: 100%;
    letter-spacing: 0.05rem;
}

.latest-updates-blogpost-subcontainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
}

.latest-updates-blogpost-image-date-container{
    display: grid;
    grid-template-rows: 6fr;
    grid-template-columns: 6fr;
    grid-template-areas: "overlap";
    position: relative;
}

.latest-updates-blogpost-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-area: overlap;
    padding-bottom: 1.5em;
    z-index: 2;
}

.latest-updates-blogpost-image:hover{
    transform: rotate(5deg);
    transition: transform 0s ease-in-out, rotate 8s ease-in-out;
    scale: 1.1;
}

.latest-updates-blogpost-date-wrapper{
    background-color: white;
    color: black;
    border-radius: 50%;
    max-width: fit-content;
    max-height: fit-content;
    z-index: 5;
    
    margin-left: 0.2em;
    padding: 0.35em 0.75em;
    align-self: flex-end;
    grid-area: overlap;
}

.latest-updates-blogpost-date{
    font-size: 1.2rem;
    font-weight: bold;
}

.latest-updates-blogpost-heading{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    letter-spacing: 0.03rem;
}

.latest-updates-blogpost-content{
    font-size: 1rem;
    font-weight: 300;
    margin: 0em 1em;
    padding-left: 1em;
    text-align: left;
    color: rgb(213, 211, 211);
    line-height: 1.5em;
}

.latest-updates-blogpost-readmore{
    text-decoration: none;
    color: white;
    margin-left: 2em;
    padding-top: 1em;
    text-align: left;
}




/* For Future events section */
.future-events-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    height: fit-content;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
}

.future-events-image{
    grid-area: overlap;
    width: 100vw;
}

.future-events-content-container{
    grid-area: overlap;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.future-events-heading{
    margin-top: 5.5%;
    margin-bottom: 0;
    padding: 1%;
    font-size: 3rem;
    font-weight: 300;
    color: white;
}

.future-events-content{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 1.2rem;
    font-weight: 250;
    color: white;
    width: 50vw;
    min-width: 700px;
    max-width: 80vw;
}

.future-events-button{
    width: max-content;
    background-color: white;
    color: black;
    text-decoration: none;
    margin-bottom: 5%;

    padding: 1em;
    border-radius: 2em;
    border: 1px solid white;
    align-self: center;
}

.future-events-button:hover, .future-events-button:focus{
    background: none;
    color: white;
    border: 1px solid white;
}



/* Media queries for responsiveness (Tablet) */ 
@media (max-width: 950px) and (orientation: portrait) {
    .who-are-we-container{
        flex-direction: column;
    }

    .who-are-we-image{
        margin: auto;
        margin-top: 5em;
        width: 90%;
        padding: 0;
    }

    .who-are-we-content-container{
        padding: 1em;
        text-align: center;
    }

    .who-are-we-heading{
        font-size: 2.5em;
    }

    .who-are-we-content{
        /* padding: 0 2em; */
        text-align: center;
    }

    .what-is-astronautics-text-container{
        width: 90vw;
    }

    .latest-updates-content{
        width: 80%;
    }

    .latest-updates-posts-wrapper{
        flex-direction: column;
        justify-items: center;
        gap: 2em;
    }

    .latest-updates-blogpost-subcontainer{
        width: 95%;
    }

    .future-events-content{
        width: 90vw;
        min-width: 0;
    }

    .what-is-astronautics-container{
        margin-bottom: 2em;
        padding: 1em;
    }

    .what-is-astronautics-image{
        width: 100%;
        height: 120%;
        object-fit: cover;
    }

    .what-is-astronautics-text-container{
        max-width: 80%;
    }
}