/* For index.html file */
@import url('font.css');

:root{
    --M-HEADING-FONT-SIZE: 2.3rem;
    --M-SUBHEADING-FONT-SIZE: 1rem;
}

/************************* Section: Who are we *************************/
.who-are-we-container{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    align-items: center;
    background-color: #1f1e1e;
}

.who-are-we-image{
    width: 90%;
}

.who-are-we-content-container{
    align-self: last baseline;
    padding-top: 1em;
    word-break:normal;
    font-family: inherit;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.who-are-we-subheading{
    font-size: var(--M-SUBHEADING-FONT-SIZE);
    font-weight: 300;
}

.who-are-we-heading{
    font-size: var(--M-HEADING-FONT-SIZE);
    font-weight: 300;
}

.who-are-we-content{
    width: 85%;
    margin-top: 1em;
    font-weight: 200;
    font-size: 0.85rem;
    text-align: justify;
}



/********************* Section: What is astronautics ******************/
.what-is-astronautics-container{
    position: relative;
    padding: 2em;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-is-astronautics-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what-is-astronautics-text-container{
    position: absolute; /* for overlap */
    width: 80%;
    max-width: 1000px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 0.5em 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what-is-astronautics-heading{
    font-size: 2.3rem;
    font-weight: 300;
    padding: 0.25em;
}

.what-is-astronautics-subheading{
    font-size: 1.2rem;
    margin-top: 1em;
}

.what-is-astronautics-content{
    margin-bottom: 1em;
    padding: 0em 1em;
}

.what-is-astronautics-button, .what-is-astronautics-button:visited{
    border: 1px solid white;
    border-radius: 30px;
    padding: 1em 2em;
    margin: 1em 0;
    text-decoration: none;
    color: black;
    background-color: white;
    min-width: fit-content;
}

.what-is-astronautics-button:hover, .what-is-astronautics-button:focus{
    cursor: pointer;
    background: none;
    color: white;
}



/***************** Section: Latest Blog section ************/
.blog-section-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-inline: 1em;
    margin-bottom: 2em;
    word-wrap: normal;
}

.blog-section-heading{
    font-weight: 300;
    font-size: var(--M-HEADING-FONT-SIZE);
    letter-spacing: 0.1rem;
    margin-top: 0.25em;
}

.blog-section-subheading{
    font-weight: 300;
    font-size: var(--M-SUBHEADING-FONT-SIZE);
    margin-bottom: 2em;
    width: 80%;
}


/*********************** Section: Future events ***********************/
.future-events-content-container{
    background-image: url('../images/future_events_cropped.jpg');
    background-size: cover;
    background-position: bottom center;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
}

.future-events-heading{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1em;
}

.future-events-content{
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(211, 205, 205);
    width: 80%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.future-events-button{
    background-color: white;
    color: black;
    text-decoration: none;

    width: max-content;
    margin-bottom: 3.2em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid white;
}

.future-events-button:hover, .future-events-button:focus{
    background: none;
    color: white;
}


/******************* Media queries for responsiveness (Mobile) ********/ 
@media screen and (min-width: 696px) {
    
    /************** Section: Who are we section **********/
    .who-are-we-container{
        flex-direction: row;
    }

    .who-are-we-image{
        max-width: 45%;
        padding-inline: 1.8em;
    }

    .who-are-we-content-container{
        align-items:flex-start;
        text-align: left;
    }

    .who-are-we-subheading{
        font-size: 1.3rem;
    }

    .who-are-we-heading{
        font-size: 3.2rem;
        padding: 0.2em 0;
        line-height: 1em;
    }

    .who-are-we-content{
        font-size: 1rem;
    }

    /**************** Section: Blog **********************/
    .blog-section-heading{
        font-size: 3.5rem;
        margin-top: 0;
    }

    .blog-section-posts-wrapper{
        width: 95%;
    }

    /*************** Section: Future events **********/
    .future-events-content{
        width: 60%;
    }

    /************** Section: What is astronautics **********/
    .what-is-astronautics-container{
        margin-bottom: 2em;
        padding: 1em;
    }

    .what-is-astronautics-text-container{
        width: 90vw;
        max-width: 80%;
    }

    .what-is-astronautics-image{
        width: 100%;
        object-fit: cover;
    }
}