/* For index.html file */

/************************* Section: Who are we *************************/
.who-are-we-container{
    display: flex;
    flex-direction: row;
    background-color: #1f1e1e;
    padding-bottom: 1em;
    left: 0;
}

.who-are-we-image{
    padding-top: 3em;
    padding-left: 2em;
    width: 40vw;
    max-height: max-content;
    float: left;
}

.who-are-we-content-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;

    padding: 2em;
    padding-bottom: 0;

    word-break:normal;
}

.who-are-we-heading{
    font-size: 3.5rem;
    padding: 0.25em;
    padding-left: 0.1em;
    font-weight: 300;
    line-height: 1em;
}

.who-are-we-subheading{
    font-size: 1.3rem;
    margin: 0;
    margin-top: 1em;
    padding-left: 0.25em;
}

.who-are-we-content{
    margin: 1em 0 0 0.3em;
    /* margin-bottom: 2em; */
    padding-right: 5%;
    font-weight: 200;
    font-size: 1.05rem;
    text-align: justify;
}

.blank-space{
    height: 2em;
    background-color: #1f1e1e;;
}



/********************* Section: What is astronautics ******************/
.what-is-astronautics-container{
    position: relative;
    padding: 2em;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-is-astronautics-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what-is-astronautics-text-container{
    position: absolute; /* for overlap */
    width: 80%;
    max-width: 1000px;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 0.5em 0;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what-is-astronautics-heading{
    font-size: 2.3rem;
    font-weight: 300;
    padding: 0.25em;
}

.what-is-astronautics-subheading{
    font-size: 1.2rem;
    margin-top: 1em;
}

.what-is-astronautics-content{
    margin-bottom: 1em;
    padding: 0em 1em;
}

.what-is-astronautics-button, .what-is-astronautics-button:visited{
    border: 1px solid white;
    border-radius: 30px;
    padding: 1em 2em;
    margin: 1em 0;
    text-decoration: none;
    color: black;
    background-color: white;
    min-width: fit-content;
}

.what-is-astronautics-button:hover, .what-is-astronautics-button:focus{
    cursor: pointer;
    background: none;
    color: white;
}



/***************** Section: Latest Events and Blog section ************/
.latest-updates-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-inline: 1em;
    margin-bottom: 3em;
    word-wrap: normal;
}

.latest-updates-subheading{
    font-weight: 300;
    padding: 0.5em;
}

.latest-updates-heading{
    font-size: 3.5rem;
    font-weight: 300;
    padding-bottom: 0.5em;
    letter-spacing: 0.13rem;
}

.latest-updates-content{
    max-width: 50%;
    margin-bottom:3em;
    color: rgb(213, 211, 211);
    
    font-size: 1.1rem;
    font-weight: 350;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

.latest-updates-posts-wrapper{
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: left;
    align-content: space-between;
    gap: 3%;
    letter-spacing: 0.05rem;
}

.latest-updates-blogpost-subcontainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* min-width: 300px; */
    text-align: left;
}

.latest-updates-blogpost-image-date-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    position: relative;
    overflow: hidden;
}

.latest-updates-blogpost-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-area: overlap;
    padding-bottom: 1.5em;
    z-index: 2;
}

.latest-updates-blogpost-image:hover{
    transform: rotate(5deg);
    transition: transform 0s ease-in-out, rotate 8s ease-in-out;
    scale: 1.1;
}

.latest-updates-blogpost-date-wrapper{
    background-color: white;
    color: black;
    border-radius: 50%;
    max-width: fit-content;
    max-height: fit-content;
    z-index: 5;
    
    margin-left: 0.2em;
    padding: 0.35em 0.75em;
    align-self: flex-end;
    grid-area: overlap;
    text-align: center;
}

.latest-updates-blogpost-date{
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

.latest-updates-blogpost-heading{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    text-align: center;
}

.latest-updates-blogpost-content{
    color: rgb(213, 211, 211);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5em;
    
    margin: 0em 1em;
    padding-left: 1em;
}

.latest-updates-blogpost-readmore{
    text-decoration: none;
    color: white;
    margin-left: 2em;
    padding-top: 1em;
}




/*********************** Section: Future events ***********************/

.future-events-content-container{
    background-image: url('../images/future_events_cropped.jpg');
    background-size: cover;
    background-position: bottom center;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
}

.future-events-heading{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    margin-top: 5.5%;
    padding: 3% 5% 1% 5%;
}

.future-events-content{
    font-size: 1.2rem;
    font-weight: 350;
    color: rgb(211, 205, 205);
    width: 50%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.future-events-button{
    background-color: white;
    color: black;
    text-decoration: none;

    width: max-content;
    margin-bottom: 5%;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid white;
}

.future-events-button:hover, .future-events-button:focus{
    background: none;
    color: white;
}


/***************** Media queries for responsiveness (Tablets) ************/
@media screen and (max-width:1000px) {
    .who-are-we-subheading{
        font-size: 3vw;
    }
    
    .who-are-we-heading{
        font-size: 6vw;
    }

    .who-are-we-content{
        font-size: 2vw;
    }
}


/******************* Media queries for responsiveness (Mobile) ********/ 
@media (max-width: 696px) {
    
    /************** Section: Who are we section **********/
    .who-are-we-container{
        padding-top: 1.5em;
        flex-direction: column;
        align-items: center;
    }

    .who-are-we-image{
        margin-top: 2em;
        width: 90%;
        padding: 0;
    }

    .who-are-we-content-container{
        padding: 1em;
        text-align: center;
        display: none;
    }

    .who-are-we-subheading{
        margin: 0;
        font-size: 1.5rem;
    }

    .who-are-we-heading{
        font-size: 2.5rem;
    }

    .who-are-we-content{
        text-align: center;
        font-size: 1rem;
    }

    /************** Section: What is astronautics **********/
    .what-is-astronautics-container{
        margin-bottom: 2em;
        padding: 1em;
    }

    .what-is-astronautics-text-container{
        width: 90vw;
        max-width: 80%;
    }

    .what-is-astronautics-image{
        width: 100%;
        object-fit: cover;
    }

    /************** Section: Events and blogs ************/
    .latest-updates-content{
        width: 80%;
    }

    .latest-updates-heading {
        letter-spacing: 0.1rem;
        font-size: 10vw;
        margin: 0;
        padding: 0;
    }

    .latest-updates-posts-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .latest-updates-blogpost-subcontainer{
        width: 90%;
        padding: 0;
        margin: 0;
    }

    /*************** Section: Future events **********/
    .future-events-heading{
        margin-inline: 4%;
        margin-bottom: 4%;
    }

    .future-events-content{
        margin-bottom: 8%;
    }

    .future-events-button{
        margin-bottom: 15%;
    }
}