/* For index.html file */

/* For What is astronautics section */
.what-is-astronautics-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    padding: 2em;
}

.what-is-astronautics-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: overlap;
}

.what-is-astronautics-text-container{
    grid-area: overlap;
    width: 80vw;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.what-is-astronautics-heading{
    font-size: 3.43em;
    margin: 0px;
    padding: 0.25em;
    font-weight: 300;
}

.what-is-astronautics-subheading{
    font-size: 1.2em;
    margin: 0px;
    margin-top: 1em;
}

.what-is-astronautics-content{
    margin: 0px;
    margin-bottom: 1em;
    font-size: 1.2em;
    padding: 0em 1em;
}

.what-is-astronautics-button, .what-is-astronautics-button:visited{
    border: 1px solid white;
    border-radius: 30px;
    padding: 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    color: black;
    background-color: white;
    align-self: center;
    width: 10%;
}


.what-is-astronautics-button:hover{
    cursor: pointer;
    background: none;
    color: white;
}



/* For Latest News and Blog section */
.latest-updates-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.latest-updates-subheading{
    font-weight: 300;
    margin: 0px;
    padding: 0.5rem;
}

.latest-updates-heading{
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0px;
    padding-bottom: 0.5rem;
    letter-spacing: 0.13rem;
}

.latest-updates-content{
    width: 50%;
    line-height: 1.5rem;
    font-weight: 350;
    color: rgb(213, 211, 211);
    margin-bottom:3rem;
    
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}

.latest-updates-posts-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    max-width: 100%;
    letter-spacing: 0.05rem;
}

.latest-updates-blogpost-subcontainer{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.latest-updates-blogpost-image-container{
    display: grid;
    grid-template-rows: 6fr;
    grid-template-columns: 6fr;
    grid-template-areas: "overlap";
    position: relative;
    overflow: hidden;
}

.latest-updates-blogpost-image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-area: overlap;
    padding-bottom: 1.5rem;
    z-index: 2;
}

.latest-updates-blogpost-image:hover{
    transform: rotate(8deg);
    transition: transform 0s ease-in-out, rotate 3s ease-in-out;
    scale: 1.1;
}

.latest-updates-blogpost-date-wrapper{
    background-color: white;
    color: black;
    border-radius: 50%;
    max-width: fit-content;
    max-height: fit-content;
    z-index: 5;
    
    margin-left: 0.2rem;
    padding: 0.35rem 0.75rem;
    align-self: flex-end;
    grid-area: overlap;
}

.latest-updates-blogpost-date{
    font-size: 1.2rem;
    font-weight: bold;
}

.latest-updates-blogpost-heading{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.03rem;
}

.latest-updates-blogpost-content{
    font-size: 1rem;
    font-weight: 300;
    margin: 0rem 1rem;
    padding-left: 1rem;
    text-align: left;
    color: rgb(213, 211, 211);
    line-height: 1.5rem;
}

.latest-updates-blogpost-readmore{
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    padding-top: 1rem;
    text-align: left;
}
