html,
body,
.container {
    height: 100%;
}

.container3 {
    width: 40%;
}

body {
    /* opacity: 1; */
    background-blend-mode: overlay;
    background-color: rgb(29, 27, 27);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100% 100%;
    background-size: cover;
    font-weight: bolder;
    /* align-content: center; */
    background-attachment: fixed;
    /* overflow: hidden; */
    scroll-snap-type: y proximity;
}

.black {
    color: black;
}

.container {
    display: table;
    width: 100%;
    /* margin-top: -50px; */
    padding: 0px 0px 0px 0px;
    /*set left/right padding according to needs*/
    box-sizing: border-box;
    font-family: Georgia, serif;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
    display: table-cell;
    float: none;
}

.content {
    /* background-color: black; */
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-top: 5%;
    /* padding-bottom: 5%; */
    /* margin: 2rem; */
    border-radius: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* font-size: 3rem; */
    /* font-weight: bolder; */
    font-family: Georgia, serif;
    align-content: center;
}

@media only screen and (min-width: 480px) {
    .club-logo {
        position: fixed;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        padding: 10px;
    }
    .felicity-logo {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100px;
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .club-logo {
        display: none;
    }
    .felicity-logo {
        display: none;
    }
}